*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#b8c5bc;
}

.container{
    width:400px;
    margin:50px auto;
    background:rgb(197, 195, 204);
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

p{
    text-align:center;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:15px;
}

input,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    background:#0066ff;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#0044aa;
}

#result{
    text-align:center;
    margin-top:25px;
    color:green;
}